<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>TODOS</title>
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css"/>
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
<div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3>TODOS</h3>
            <div class="input-group" *ngIf="tasklist.is_write">
              <input type="text" class="form-control new-todo" placeholder="Type in a new todo..." [(ngModel)]="newtodo"
                     name="newTodo">
              <span class="input-group-btn">
              <button class="btn btn-default submit"
              type="submit" [disabled]="newtodo===''"
              (click)="addTodo(newtodo); newtodo=''">Add Todo </button>
              </span>
            </div>

            <div [hidden]="newtodo">
            </div>

            <div [hidden]="!newtodo">
            </div>
            <br>
            <div>
              <div *ngFor="let todo of todos"  >
                <div *ngIf="!todo.done" style="margin: 1.5%" class="todo-active">
                  <span>&nbsp;</span>
                </div>
              </div>
            </div>
            <br>
            <div>
              <button (click)="doneAllTodos()" class="btn btn-primary btn-sm" [disabled]="!tasklist.is_write">Mark all
                as Done
              </button>
            </div>
          </div><!-- /.col-lg-6 -->
          <!--<hr class="hidden-sm-up">-->
          <div class="col-sm-6">
            <h3>DONE</h3>
            <div>
              <div *ngFor="let todo of todos">
                <div *ngIf="todo.done" style="margin: 1.5%"  class="todo-done">
                  <span>&nbsp;</span>
                </div>
              </div>
            </div>
            <br>
            <div>
              <button (click)="deleteAllDones()" class="btn btn-danger btn-sm" [disabled]="!tasklist.is_write">Delete
                all Done
              </button>
            </div>

          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
</div>


	<script src="js/core/jquery.min.js"></script>
	<script src="js/core/bootstrap.min.js"></script>
	<script src="js/json.js"></script>
</body>

</html>
