@media only screen and (max-width: 479px) {
	.tools {
		margin-left: 70% !important;
	}
	.logo img {
		width: 6.25em !important;
	}
	.logo {
		position: absolute;
		left: 6.5em;
		top: 0.7em !important;
			
	}
	.edit-logo {
		transform: scale(.7) translate(0,-27px);
		top: 0.8em !important;
	}
	.navbar-header {
		float: left;
		margin-left: 50px;
	}
	.navbar-default {
		height: 100% !important;
		display: block !important;
	}
	.navbar-default .navbar-nav {
		display: block !important;
		
	}
	.navbar-default .navbar-nav > .active, .navbar-default .navbar-nav > .active:hover, .navbar-default .navbar-nav > .active:focus {
		background-color: #fff !important;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		background-color: #fff !important;
		color: #e30613 !important;
	}
	.navbar-default .navbar-toggle {
		margin-top: 1.8em !important;
		float: left !important;	
	}
	.toolbar .search-toggler {
		margin-left: 0.5em !important;
		margin-top: -0.25em !important;
	}
	.main-fixed-menu {
		height: 4.6875em !important;
	}
	.toolbar {
		height: 4.6875em !important;
		margin-left: 0em;
	}
	.navbar-default .navbar-collapse {
		height: auto !important;
		position: absolute;
		top: 7.3em;
		width: 100%;
		border: none;
		z-index: 10;
	}
	.navbar-default .navbar-collapse .navbar-nav li {
		padding: 0.9375em 0;
	}
	.main .main-content .main-hour .hour-clock {
		font-size: 0.9em !important;
	}
	/* footer */
	.footer .top-footer .top-footer-row .news-letter-form {
		padding-top: 1.75em;
	}
	.caret {
		top: 0.6em !important;
	}
	.searchbar-container {
		padding: 0 !important;
	}
	.searchbar-container .fa-search {
		left: 1em !important;
	}

	.searchbar-hide {
		margin-top: -1.5em !important;
		margin-left: 93% !important;
	}
	.main .main-content .main-hour ul {
		width: 100vw;
		margin: 0;
	}
	.main .main-content .main-hour .hour-quick {
		font-size: 12px !important;
	}
	.main .main-explore .main-restaurant .main-shop .first-col {
		padding-left: 15px;
	}
	.main .main-explore .main-restaurant .main-shop .shop-img {
		width: 35%;
		display: inline-block;
	}
	.main .main-explore .main-restaurant .main-shop .shop-content {
		display: inline-block;
		width: 63%;
	}
	.main .main-explore .main-restaurant .restaurant-bottom {
		padding-bottom: 0.625em; 
	}
	.main-form input {
		width: 80% !important;
	}
	.main-form i {
		right: 12% !important;
	}
	.main .open-poisition .open-slider-content {
		margin: 0 !important;
	}
	.right-arrow {
		left: 1em !important;
	}
	.left-arrow {
		right: 1em !important;
	}
	.col-mt4 {
		margin-top: 2.625em;
	}
	.main .main-content .main-hour ul li {
		padding-top: 0.7em !important;
		padding-bottom: 0 !important;
	}
	.main .main-content .main-hour .hour-clock i {
		font-size: 12px !important;
	}
	.main .main-content .main-hour .hexagon {
	  position: relative;
	  width: 25px !important; 
	  height: 14.43px;
	  background-color: #3f3f3f;
	  margin: 7.22px  0 !important;
	  margin-top: 25px;
	}

	.main .main-content .main-hour .hexagon:before,
	.main .main-content .main-hour .hexagon:after {
	  content: "";
	  position: absolute;
	  width: 0;
	  border-left: 12.5px solid transparent !important;
	  border-right: 12.5px solid transparent !important;
	}

	.main .main-content .main-hour .hexagon:before {
	  bottom: 100%;
	  border-bottom: 7.22px solid #3f3f3f !important;
	}
	.main .main-content .main-hour .hexagon:after {
	  top: 100%;
	  width: 0;
	  border-top: 7.22px solid #3f3f3f !important;
	  right: 0;
	}
	.main .main-content .main-hour .hour-quick {
		margin-top: 5px !important;
	}
	.main .slider-main-content .border-bottom-blue .center .slick-track {
		width: 3108 !important;
	}
	.main .slider-main-content .border-bottom-blue .center .slick-slide {
		width: 259px !important;
	}
	.header-hour {
		display: block;
	}
	.header  .header-hour i {
		font-size: 11px;
	}
	.header  .header-hour {
		width: 100%;
		float: left;
		background: url(../images/backgroung2.png);
		text-align: center;
		background-size: 300px;
		position: absolute;
		top: 5.25em;
		z-index: 9;
	}
	.header  .header-hour ul {
		margin: 0 auto;
		padding-left: 0;
		display: flex;
		width: auto !important;
	}
	.header  .header-hour ul li {
		width: 12%;
		padding-top: 10px !important;
		padding-bottom: 10px !important ;
		text-align: center;
		width: 25%;
	}
	.header  .header-hour ul li:last-child {
		margin-right: 0;
	}
	.header  .header-hour .hour-clock {
		font-size: 0.9em;
	}

	.header  .header-hour .hour-clock i {
		color: #fff;
		text-align: center;
		width: 2.1em;
	}
	.header  .header-hour .hour-quick {
		display: block;
		color: #000;
		font-size: 12px !important;
		margin-top: 10px !important;
	}

	.header  .header-hour .hexagon {
	  position: relative;
	  width: 22px !important; 
	  height: 12.70px;
	  background-color: #3f3f3f;
	  margin: 6.35px  0 !important;
	}

	.header  .header-hour .hexagon:before,
	.header  .header-hour .hexagon:after {
	  content: "";
	  position: absolute;
	  width: 0;
	  border-left: 11px solid transparent !important;
	  border-right: 11px solid transparent !important;
	}

	.header  .header-hour .hexagon:before {
	  bottom: 100%;
	  border-bottom: 6.35px solid #3f3f3f;
	}

	.header  .header-hour .hexagon:after {
	  top: 100%;
	  width: 0;
	  border-top: 6.35px solid #3f3f3f;
	  right: 0;
	}
	.navbar-default .navbar-nav {
		padding-top: 0.7em;
	}
	.open-ip {
		background: #dad5c0;
	}
	/* ==== news ==== */
	.col4 { width: 100% !important; }

	/* ===== plan ==== */
	.main .plan-content .plan-heute .plan-box .plan-mall form {
		margin-left: 1em !important;
		margin-right: 1em !important;
	}

	/* === job ===*/
	.wapper .news-main .news-content .job-content .tab-content .tab-item {
		margin: 1em;
	}

}
@media only screen and (max-width: 768px) { 

	.navbar-nav > li > .dropdown-menu {
		text-align: center !important;
		background: #3f3f3f !important;s
	}
	.navbar-default .dropdown-menu > li > a {
		background: #3f3f3f !important;
		color: #fff !important; 
	}
	.navbar-default .navbar-nav {
		display: block !important;
		height: auto !important;
		background: #fff;
	
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.search-container-main .searchbar-container .searchbar-form {
		width: 100%;
	}
	.searchbar-container .input {
		width: 75% !important;
	}
	
	/* === contact === */ 
	.pd-right {
		padding-right: 15px !important;
	}
	.pd-left {
		padding-right: 0;
	}
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
	
	.header-ip {
		display: block;
	}
	.header  .header-ip {
		width: 100%;
		float: left;
		background: url(../images/backgroung2.png);
		text-align: center;
		background-size: 300px;
		position: absolute;
		top: 5.25em;
		z-index: 9;
	}
	.header  .header-ip ul {
		margin: 0 auto;
		padding-left: 0;
		display: flex;
		width: 35em !important;
	}
	.header  .header-ip ul li {
		width: 12%;
		padding-top: 10px !important;
		padding-bottom: 10px !important ;
		text-align: center;
		width: 25%;
	}
	.header  .header-ip ul li:last-child {
		margin-right: 0;
	}
	.header  .header-ip .hour-clock {
		font-size: 0.9em;
	}

	.header  .header-ip .hour-clock i {
		color: #000;
		text-align: center;
		width: 2.1em;
		font-size: 20px !important;
	}
	.header  .header-ip .hour-quick {
		display: inline-block;
		color: #3f3f3f;
		font-weight: 400;
		font-style: normal;
		font-size: 15px !important;
		margin-top: 10px !important;
	}

	.caret {
		right: -1.5em !important;
		top: 0.5em !important;
	}
    .navbar-header {
        float: none;
    }
	.tools {
		margin-left: 78% !important;
	}
	.logo img {
		width: 6.25em !important;
	}
	.logo {
		position: absolute;
		left: 35% !important;
		top: 0.7em !important;
			
	}
	
	.navbar-header {
		float: left;
		margin-left: 15%;
	}
	.navbar-default {
		height: 100% !important;
		display: block !important;
	}
	.navbar-default .navbar-nav {
		display: block !important;
		height: auto !important;
		background: #fff;
		padding-top: 2.5em;
	}
	.navbar-default .navbar-nav > .active, .navbar-default .navbar-nav > .active:hover, .navbar-default .navbar-nav > .active:focus {
		background-color: #fff !important;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		background-color: #fff !important;
		color: #e30613 !important;
	}
	.navbar-default .navbar-toggle {
		margin-top: 1.8em !important;
		
	}
	.toolbar .search-toggler {
		margin-left: 0.5em !important;
		margin-top: -0.25em !important;
	}
	.main-fixed-menu {
		height: 4.6875em !important;
	}
	.toolbar {
		height: 4.6875em !important;
	}
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
        padding: 0.9375em 0 !important;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
        position: absolute;
        top: 6.7em;
        width: 100%;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-default .navbar-collapse {
		height: 0 !important;
	}


	/* footer */
	.footer .top-footer .top-footer-row .news-letter-form {
		padding-top: 1.75em;
	}
	.main .main-explore .main-restaurant .main-shop .shop-img img {
		width: 100%;
		height: 249px;
	}
	.main .main-explore .main-restaurant .restaurant-bottom {
		padding-bottom: 4.375em; 
	}
	
}
@media only screen and (max-width: 992px) {
	.footer .end-footer li {
		width: 50%;
	    float: left;
	    position: relative;
	    min-height: 1px;
	    text-align: center;
	}
	
	
}
@media only screen and (max-width: 1200px) {
	.main-slider .single-item .slick-inner {
    	height: calc(100vh - 64px - 85px);
 
    }
}
@media only screen (min-width: 1200px) {
	.main .slider-main-content .center .slick-slide {
		width: 474px !important;
	}
}
@media only screen and (max-width: 1600px) {
	.tools {
		margin-left: 85% !important;
	}
}