@font-face {
    font-family: fedrabook;
    src: url(../fonts/Fedra-Sans-Pro-Book_17238.ttf);
}
@font-face {
    font-family: fedrabold;
    src: url(../fonts/FedraSansPro-Bold.otf);
}
@font-face {
    font-family: fedraItalic;
    src: url(../fonts/FedraSansPro-BookItalic.otf);
}
@font-face {
    font-family: fedraLight;
    src: url(../fonts/FedraSansPro-Light.otf);
}
@font-face {
    font-family: fedraMedium;
    src: url(../fonts/FedraSansPro-Medium.otf);
}
body {
	margin:0;
	overflow-x:hidden;	
	color: #000;
	font-size: 16px;
	font-family: fedrabook;
}
ul {
	padding-left: 0;
	margin-bottom: 0;
}
li {
	list-style:none;
}
a {
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
}
input:focus {
	outline: none;
	border: none;
}

select, textarea,input {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.fixed{
	position: fixed !important;
	z-index: 9999999999;
}
.pinned {
	position: fixed;
	top: 100px;
	z-index: 99999999999;
}
.btn-danger {
	position: relative;
}
.btn-danger:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition-duration: .3s;
    transition-property: top,right,bottom,left;
}
.btn-danger:hover:before {
	border: .0625em solid #fff;
	top: -5px;
	right: -5px;
	bottom: -5px;
	left: -5px;s
}
.btn-plan:hover:before {
	border: .0625em solid #000;
}
.pinned ul li .hour-clock {
	display: inline-block;
}
.pinned ul li .hour-quick {
	display: inline-block;
}
.header-hour {
	display: none;
}
.header-ip {
	display: none;
}
#wapper {
	width: 100%;
	float: left;
}
#header {
	width: 100%;
	float: left;
	position: relative;
} 
.main-fixed-menu {
	width: 100%;
    z-index: 5;
    background-color: #fff;
    height: 5.625em;
    transition: all .2s ease-out;
    margin-left: 0;
    margin-right: 0;
}
.logo {
	z-index: 15;
    position: absolute;
    margin-left: 8.33333333%;
    top: 1em;
}
.logo img {
	width: 7.1875em;
}

.primary-menu {
	position: relative;
	min-height: 1em;
	padding-left: 0;
	padding-right: 0;
}
.navbar-default {
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	height: 5.625em;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    user-select: none;	
}
.navbar-default .navbar-nav {
	height: 100%;
	display: flex;
}
.navbar-default .navbar-nav > li {
    position: relative;
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    padding: 0 .9375em;
}
.navbar-default .navbar-nav > li:last-child {
	padding: 0;
}
.navbar-default .navbar-nav .dropdown .dropdown-toggle {
	padding: 0 1.7em 0 0.9375em;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
	text-transform: uppercase;
	font-size: 0.875em;
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 0;
    font-family: fedraLight;
    font-weight: 400;
}
.navbar-default .navbar-nav > .active , .navbar-default .navbar-nav > .active:hover, .navbar-default .navbar-nav > .active:focus {
	background: #e30613;
	color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #e30613;
	color: #fff;
}
.navbar-default .navbar-nav li:hover, .navbar-default .navbar-nav li:focus {
	background: #e30613;
	color: #fff;
}

.navbar-default .navbar-nav li > a:hover, .navbar-default .navbar-nav li > a:focus {
	background: #e30613;
	color: #fff;
}
.navbar-default .navbar-nav > li .dropdown {
	display: none;
    top: 90px;
    left: 0;
    padding: 1.25em 0 .9375em;
    position: absolute;
    background-color: #fff;
    color: #000;
    text-align: left;
    min-width: 100%;
    z-index: 10;
}
.navbar-default .navbar-nav > li .dropdown > li {
	display: block;
    white-space: nowrap;
    justify-content: flex-start;
    text-transform: capitalize;
    padding-top: .3125em;
    padding-bottom: .3125em;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #fff;
	background: #e30613;
}
.navbar-default .dropdown-menu {
	width: 100%;
	padding: 1.25em 0 .9375em;
	border: none;
	border-radius: 0;
}
.navbar-default .dropdown-menu > li > a {
	background: #fff !important;
	font-size: 1em !important;
	text-transform: capitalize;
}
.navbar-default .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #e30613 !important;
}
.navbar-default .caret {
	position: absolute;
	right: 0.5em;
	top: 3em;
}
.navbar-default .edit-caret {
	transform: rotate(180deg);
}
.tools {
	margin-left: 90%;
	z-index: 15;
	width: 100%;
    position: absolute;
    padding-left: 0;
}
.toolbar {
	height: 5.625em;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: flex;
    user-select: none;
}
.language {
	font-size: 0.875em;
	display: flex;
    align-items: center;
}
.toolbar .language ul {
	width: auto;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	display: table;
	height: 100%;
}
.toolbar .language ul li {
	display: table-cell;
	vertical-align: middle;

}
.toolbar .language ul li a {
	padding: 0;
	color: #000;
	margin-right: 0.9375em;
}
.toolbar .language ul li a strong {
	font-family: fedrabold;
}
.toolbar .language ul li:first-child a {
	font-weight: 800;
}
.toolbar .search-toggler {
	margin-left: 0.5em;
	font-size: 1.25em;
	margin-top: -0.435em;
	flex-grow: 0;
	display: flex;
	align-items: center;
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.search-container-main {
	display: none;
}
.searchbar-container {
	overflow-y: auto;
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5em 2em;
    z-index: 1;
    display: flex!important;
    flex-direction: column;
    align-items: initial!important;
    color: #3f3f3f;
}
.searchbar-container:after {
	content: '';
    background-color: #000;
    opacity: .6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.search-container-main .searchbar-container .searchbar-form {
	border: 1px solid #d6d6d6;
	padding: 1.25em;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	position: relative;
}
.searchbar-container .fa {
	font-size: 24px;
}
.searchbar-container .fa-search {
	padding-right: 1em;
	position: absolute;
	left: 1em;
	top: 1em;
}
.searchbar-container .input {
	border: none;
	flex-grow: 2;
	box-shadow: none;
	line-height: normal;
	width: 96%;
	padding-top: 0.5em;

}
.searchbar-hide {
	position: relative;
	width: 24px;
	height: 24px;
	cursor: pointer;
	margin-left: 98%;
	margin-top: -1em;
}
.searchbar-hide .hide-icon-1, .hide-icon-2 {
	width: 24px;
    height: 3px;
    background-color: #3d3d3d;
    position: absolute;
    top: 10px;
    
}
.searchbar-hide .hide-icon-1 {
	transform: rotate(45deg);
}
.searchbar-hide .hide-icon-2 {
	transform: rotate(-45deg);
}
.navbar-default .navbar-toggle {
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	color: #000;
	margin-top: 2.4em;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
	width: 23px;
	margin-bottom: 5px;
}
.navbar-default .navbar-toggle .icon-bar:last-child {
	margin-bottom: 0;
} 
.header-border {
	background: url(../images/background1.png);
	background-size: 150px;
	top: 0;
    height: .625em;
    display: block;
    width: 100%;
    position: relative;
    z-index: -1;
}

/* main */ 

/** main */
.main {
	width: 100%;
	float: left;
}
.main .main-content {
	width: 100%;
	float: left;
}

.main .main-content .main-hour {
	width: 100%;
	float: left;
	background: url(../images/backgroung2.png);
	text-align: center;
	background-size: 300px;
}
.main .main-content .main-hour ul {
	margin: 0 auto;
	padding-left: 0;
	display: flex;
	width: 35em;
}
.main .main-content .main-hour ul li {
	width: 12%;
	padding-top: 1.25em;
	text-align: center;
	width: 25%;
}
.main .main-content .main-hour ul li a {
	display: flex;
    flex-direction: column;
    padding-bottom: 0;
    text-decoration: none;
    width: 100%;
    padding: .625em;
    padding-bottom: 0;
}
.main .main-content .main-hour ul li a span {
	margin: 0 auto 1em;
}
.main .main-content .main-hour ul li:last-child {
	margin-right: 0;
}
.main .main-content .main-hour .hour-clock {
	font-size: 1.15625em;
}

.main .main-content .main-hour .hour-clock i {
	color: #fff;
	text-align: center;
	width: 2.1em;
}
.main .main-content .main-hour .hour-quick {
	display: block;
	color: #000;
	font-size: 16px;
	font-family: fedraLight;
}
.main-explore {
	width: 100%;
	float: left;
}
.explore-mall {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 3.5em;
	margin-bottom: 4.375em;
}
.explore-mall svg {
	width: 20px;
	height: 20px;
	position: relative;
    animation: upanddown  1.8s infinite ease-in-out;
}
@keyframes upanddown {
	0% {
    	top: 0;
    	opacity: 0;
	}
	30%, 80% {
    	opacity: 1;
	}
	90% {
   	 	top: 20px;
    	opacity: 0;
	}
	100% {
    	top: 0;
   	 	opacity: 0;
	}
}
.first-col {
	padding-left: 0;
}
.main .main-explore .main-restaurant .shop-content .hexagon {
  position: relative;
  width: 40px; 
  height: 23.09px;
  background-color: #3f3f3f;
  margin: 11.55px 0;
  margin-top: 25px;
}

.main .main-explore .main-restaurant .shop-content .hexagon:before,
.main .main-explore .main-restaurant .shop-content .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.main .main-explore .main-restaurant .shop-content .hexagon:before {
  bottom: 100%;
  border-bottom: 11.55px solid #3f3f3f;
}
.main .main-explore .main-restaurant .shop-content .hexagon:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #3f3f3f;
  right: 0;
}
.shop-content h2 {
	margin-top: 10px;
	margin-bottom: 0;
}
.shop-content h2 a {
	font-size: 1.4em;
	line-height: 1em;
	font-weight: 800;
	color: #000;
	font-family: fedrabold;

}
.shop-content h3 {
	margin: 0;
}
.shop-content h3 a {
	font-weight: 400;
	font-family: fedraItalic;
	color: #000;
	font-size: 20px;
}
.explore-hexagon {
	float: right;
	margin-top: 25px;
}
.explore-hexagon img {
	width: 1.2em;
	margin-left: 0.7em;
}
.main .main-content .main-hour .hexagon {
  position: relative;
  width: 40px; 
  height: 23.09px;
  background-color: #3f3f3f;
}

.main .main-content .main-hour .hexagon:before,
.main .main-content .main-hour .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.main .main-content .main-hour .hexagon:before {
  bottom: 100%;
  border-bottom: 11.55px solid #3f3f3f;
}

.main .main-content .main-hour .hexagon:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #3f3f3f;
  right: 0;
}

/* ---- sider ---*/

    .main-slider .single-item .slick-inner {
    	text-align: center;
    	padding: 10em 0 20em;
    	background-size: cover !important;
    	background-color: #fff;
 
    }
     .main-slider .single-item .inner1 {
     	background: url(../images/slider1.jpg);
     }
     .main-slider .single-item .inner2 {
     	background: url(../images/sup_mos_foodcourt_cam03_005_web_0.jpg);
     }
     .main-slider .single-item .inner3 {
     	background: url(../images/vogelperspektive_0.jpg);
     }
    .main-slider .single-item .slick-inner h2 {
    	font-family: fedrabold;
    	color: #fff;
    	text-transform: uppercase;
    	line-height: 2.3325em;
    	font-size: 1.94375em;
    	margin: 0;
    } 
    .main-slider .single-item .slick-inner h3 {
    	color: #fff;
    	font-size: 1.125em;
    	line-height: 1.35em;
    	font-family: fedraItalic;
    	margin: 0;
    }
    .main-slider .single-item .slick-inner a {
     	margin-top: 3.125em;
     	color: #3f3f3f;
     	background-color: #fff;
     	text-transform: uppercase;
     	height: 2.75em;
     	line-height: 2.75em;
     	padding: 0 1.25em;
     	font-family: fedraMedium;
     	display: inline-block;

     }

     /* dots */
     .main-slider .single-item {
     	position: relative;
     	display: block;
     }
     .main-slider .single-item .slick-dots {
     	position: absolute;
     	left: 0;
     	right: 0;
     	bottom: 3em;
     	text-align: center;
     	padding: 0;
     }
     .main-slider .single-item .slick-dots li {
     	display: inline;
     	margin: 10px;
     }
    .main-slider .single-item .slick-dots li button {
	    position: relative;
	    width: .75em;
	    height: 1.0825em;
	    padding: 0;
	    background-color: rgba(255,255,255,.5);
	    margin: .21625em 0;
	    border: none;
	    color: transparent;
	    transform: rotate(90deg);
     }
     .main-slider .single-item  .slick-dots li.slick-active button:focus {
     	outline: outset !important;
     }
    .main-slider .single-item  .slick-dots li.slick-active button {
    	background-color: #fff;
    }
    
     .main-slider .single-item .slick-dots li button:before, .main-slider .single-item .slick-dots li button:after {
	    content: "";
	    width: 0;
	    position: absolute;
	    border-left: .375em solid transparent;
    	border-right: .375em solid transparent;
	}
	.main-slider .single-item  .slick-dots li.slick-active button:before {
    	border-bottom: .21625em solid #fff;
	}
    .main-slider .single-item  .slick-dots li.slick-active button:after {
    	border-top: .21625em solid #fff;
    }
     .main-slider .single-item .slick-dots li button:before {
	    bottom: 100%;
	    left: 0;
	    border-bottom: .21625em solid rgba(255,255,255,.5);
     }
     .main-slider .single-item .slick-dots li button:after {
     	top: 100%;
	    width: 0;
	    left: 0;
	    border-top: .21625em solid rgba(255,255,255,.5);
     }
     /*dots */
/*---- slider --- */
.main-form {
	width: 100%;
	float: left;
	margin-top: 150px;
	text-align: center;
	position: relative;
	margin-bottom: 70px;
}
.main-form input {
	width: 47%;
	border: none;
	border-bottom: 1px solid #000;
}
.main .main-explore .main-form input[type="text"] {
	font-family: fedraLight;
	color: #000;
}
.main-form i {
	color: #000;
	position: absolute;
	top: -8px;
	right: 27%;
	font-size: 1.5em;
}
.plan-visit {
	width: 100%;
	float: left;
	text-align: center;
}
.plan-visit .btn-danger {
	font-family: fedraMedium;
	background-color: #3f3f3f;
	border-radius: 0;
	border: none;
	padding: 12px 20px;
	line-height: 2.75em;
	padding: 0em 1.25em;
	font-size: 16px;
}
.main-gift {
	width: 100%;
	float: left;
	margin-top: 60px;
	background: url(../images/background3.png);
}
.gift {
	width: 100%;
	float: left;
	text-align: center;
	color: #fff;
}
.gift img {
	max-width: 5em;
	margin: 0 auto;
	margin-top: 30px;
}
.gift h3 {
	font-family: fedraMedium;
	font-size: 1.35em;
	line-height: 1.62em;
	margin-top: 20px;
	margin-bottom: 0.625em;
}
.gift-content {
	margin-bottom: 20px;
}
.gift-content p {
	margin-bottom: 0px;
	font-family: fedrabook;
}
.plan-gift {
	background: #874896;
	padding-top: 45px;
	padding-bottom: 45px;
}
.plan-gift .btn-danger {
	background: #fff;
	color: #3f3f3f;
	font-family: fedraMedium;
	display: inline-block;
	padding: 0em 1.25em;

}
.lively {
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 60px;
	background: linear-gradient(to bottom,rgba(198,198,198,.35) 0,#fff 100%);

}
.lively-bg {
	background: transparent;
	margin-bottom: 0;
}
.lively-place .place-lively  {
	font-family: fedraLight;
	font-size: 1.125em;
	text-transform: uppercase;
	background: url(../images/background.png) no-repeat ;
	background-position: center bottom;
	background-size: 65px;
    padding-bottom: 1em;
    line-height: 1.35em;
    font-weight: 400;
    font-style: normal;
    margin-top: 4.375em;
    background-size: 65px;
    margin-bottom: 2.625em;
    background-color: transparent;
}
.lively .hottest {
	font-family: fedraLight;
	font-size: 1.94375em;
    text-transform: uppercase;
    line-height: 2.02em;
    margin-top: 2.5em;
}
.lively p {
	font-family: fedraItalic;
	font-size: 1em;
	line-height: 1.6em;
}
.lively strong {
	font-family: fedrabold;
	font-style: normal;
}
.main .slider-main-content {
	width: 100%;
	float: left;
} 
.main .slider-main-content .border-bottom-blue {
	background: url(../images/background4.png);
	background-size: 300px;
	box-shadow: inset 0 -9.875em 0 0 #60c1c6;
}
.main .slider-main-content .border-bottom-yelow {
	background: url(../images/background5.png);
	box-shadow: inset 0 -9.875em 0 0 #c6c740;
}
.main .slider-main-content .border-bottom-blue .center {
	position: relative;
	margin-top: -1.25em;
	padding: 0;
}
.main .slider-main-content .border-bottom-blue .center .slick-slide {
	
	text-align: center;
	margin: 0 1.25em;
}
.main .slider-main-content .border-bottom-blue .center .slick-slide .center-img img {
	width: 100%;
}
.main .slider-main-content .border-bottom-blue .center .slick-slide .center-content {
	background-color: #fff;
	padding: 0.875em;
	color: #000;
}
.main .slider-main-content .border-bottom-blue .center .slick-slide .center-content p {
	font-size: 1em;
	line-height: 1.6em;
	font-family: fedrabook;
	margin: 0;
}
.main .slider-main-content .border-bottom-blue .center .slick-slide .center-content h3 {
	margin: 0;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1.35em;
	line-height: 1.62em;
	font-family: fedraMedium;

}
.main .slider-main-content .border-bottom-blue .center .slick-slide .center-content span {
	display: block;
	font-size: 1.125em;
	line-height: 1.35em;
	font-family: fedraItalic;
}
.main .slider-main-content .border-bottom-blue .see-all {
	text-align: center;
	margin: 1.5625em auto -1.375em;
}
.main .slider-main-content .border-bottom-blue .see-all a {
	background-color: #3f3f3f;
	text-transform: uppercase;
	display: inline-block;
	padding: 0.7em 1.5em;
	color: #fff;
	font-family: fedraMedium;
}
.main .open-poisition {
	width: 100%;
	float: left;
	margin-top: 4.375em;
	margin-bottom: 1.75em;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(198,198,198,.35)),color-stop(100%,#fff));
}
.main .open-poisition .poisitons {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1em;
	font-size: 1.94375em;
	line-height: 2.02em;
	font-family: fedraLight;
	margin-top: 0;
} 
.main .open-poisition .open-slider-content {
	margin: 0 4.375em;
	position: relative;
}
.main .open-poisition .open-slider-content .regular {
	display: block;
	border: 0.0625em solid #dad5c0;
	padding: 1.875em;
	text-align: center;
}
.main .open-poisition .open-slider-content .regular a h6 {
	font-size: 16px;
	
	margin: 0;
	color: #000;
}
.main .open-poisition .open-slider-content .regular a h3 {
	margin-bottom: 0.625em;
	font-size: 1.35em;
	line-height: 1.62em;
	margin: 0;
	font-family: fedramedium;
	color: #000;
}
.main .open-poisition .open-slider-content .regular a  p {
	font-size: 0.875em;
	color: #3f3f3f;
	line-height: 1.35em;
	font-family: fedraItalic;
	margin-bottom: 50px;
	margin-top: 2em;
}
.main .open-poisition .open-ip .regular a p {
	font-family: fedrabook;
	font-size: 1em;
}
.slider-open {
	position: relative;
}
.main .open-poisition .open-slider-content .see-all {
	text-align: center;
	left: 37%;
	margin-top: -1.25em;
	position: absolute;
	z-index: 9;
}
.main .open-poisition .open-slider-content .see-all a {
	background-color: #3f3f3f;
	text-transform: uppercase;
	display: inline-block;
	padding: 0.7em 1.25em;
	color: #fff;
	font-family: fedraMedium;
}
.right-arrow, .left-arrow {
	top: 40%;
	position: absolute;
}
.right-arrow {
	left: -3.2em;
}
.right-arrow, .left-arrow {
	width: 2.2em;
}
.left-arrow {
	right: -3.2em;
}
.slick-arrow {
    position: absolute;
    z-index: 1;    
}
.next {
	width: 1.9em; 
	right: 19%;
    top: 50%;
}
.pre {
	width: 1.9em; 
	left: 19%;
    top: 50%;
}
/* end main * /


/* -- footer -- */

.footer {
	width: 100%;
	float: left;
	margin-top: 4em;
}
.footer .top-footer {
	width: 100%;
	float: left;
	background: url(../images/background6.png);
	background-size: 300px;
}
.footer .top-footer .top-footer-row {
	padding-top: 2.625em;
	padding-bottom: 2.625em;

}
.footer .top-footer .top-footer-row .text-align-center {
	text-align: center;
}
.footer .top-footer .top-footer-row .text-align-center .section-title {
	color: #c6c6c6;
	padding-bottom: 1em;
	text-transform: uppercase;
}
.footer .top-footer .top-footer-row .text-align-center .hexagon {
	font-size: 1.15625em;
    margin: .375em;
    height: 1.15625em;
    width: 2em;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 0;
    box-sizing: border-box;
    border-color: #fff;
}
.footer .top-footer .top-footer-row .text-align-center .hexagon:before {
	height: 1.15625em;
    width: 2em;
    background-color: transparent;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    transform: rotate(60deg);
    box-sizing: border-box;
    position: absolute;
    content: "";
    left: -1px;
    top: 0;
    z-index: -1;
}
.footer .top-footer .top-footer-row .text-align-center .hexagon:after {
	height: 1.15625em;
    width: 2em;
    background-color: transparent;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    transform: rotate(-60deg);
    box-sizing: border-box;
    position: absolute;
    content: "";
    left: -1px;
    top: 0;
    z-index: -1;
}
.footer .top-footer .top-footer-row .text-align-center .hexagon i {
	color: #c6c6c6;
}
.footer .footer-search {
	padding-left: 0.625em;
	padding-right: 0.625em;
}
.footer .footer-search .webform-submit {
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c6c6c6;
    max-width: 25em;
    margin-right: auto;
    margin-left: auto;
    padding: 0 .625em .625em;
}
.footer .footer-search .webform-submit input {
	background-color: transparent;
    border: none;
    width: 100%;
    min-width: 0;
    flex: 1 1 auto;
    color: #c6c6c6;
    padding: 1px 0px;

}
.footer .footer-search .webform-submit input::placeholder {
	color: #c6c6c6;
	font-weight: 400;
	font-style: normal;
}
.footer .footer-search .webform-submit input:invalid {
	box-shadow: none!important;
    outline: 0!important;
}
.footer .footer-search .webform-submit input:focus,.footer .footer-search .webform-submit input:hover {
	border: none !important;
	border-color: none;
}
.footer .footer-search .webform-submit .edit-action {
	position: relative;
    height: 18.75px;
    left: 0;
    flex: 0 0 auto;
    transition: left .5s ease-in-out;
}
.footer .footer-search .webform-submit .edit-action .web-bottom-submit {
	background: url(../images/right-form.png) no-repeat ;
	background-color: transparent;
    border: none;
    position: relative;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    transform: scale(.25);
    display: inline-block;
    right: -28.13px;
    top: -28px;
    font-size: 0;
}
.footer .end-footer {
	background: url(../images/backgroung2.png);
	background-size: 300px;
	padding-bottom: 2.625em;
	padding-top: 2.625em;
	width: 100%;
	float: left;
}
.footer .end-footer ul {
	list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 0;
    overflow: hidden;
    display: table;
    height: 100%;
}
.footer .end-footer ul li {
	display: table-cell;
    vertical-align: middle;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    text-transform: uppercase;
}
.footer .end-footer ul li a {
	display: inline-block;
    padding: .625em;
    color: #3f3f3f;
    font-weight: 400;
}
.footer .end-footer ul li a:hover, .footer .end-footer ul li a:focus {
	background: #e30613;
	color: #fff;
}
.footer .end-footer .copy-right {
	font-size: .875em;
	padding-top: 2.625em;
	line-height: 1.6em;
	margin: 0;
	text-align: center;
 }
.hexagon-footer {
 	margin: 0 !important;
 	margin-right: 0.375em !important;
 }
