@media only screen and (max-width: 768px) {
	.blog-content-col {
		margin-top: 30px !important;
		margin-bottom: 0 !important;
	}
	.blog-calendar p {
		font-size: 10px !important;
		padding: 0 10px !important;
		margin-bottom: 5px !important;
	}
	.blog-calendar span {
		font-size: 20px !important;
	}
	.blog-calendar i {
		font-size: 14px;
		padding: 11px 15px !important;
	}
	.blog-left {
		padding-left: 47px !important;
		padding-bottom: 15px !important;
	}
	.blog-duis h5 {
		margin-top: 15px !important;
	}
	.blog-posted {
		margin-bottom: 20px !important;
	}
	#myCarousel {
		margin-top: 0 !important;
	}
	.blog-duis-left {
		padding-left: 0 !important;
	}
	.blog-carousel-left {
		height: 20% !important;
    	width: 53% !important;
    	margin-left: -4px !important;
	}
	.pagination > li:first-child > a {
		margin-right: 10px !important;
	}
	.pagination > li:last-child > a {
		margin-left: 0 !important;
	}
	.pagination > li > a, .pagination > li > span {
		font-size: 11px !important;
	}
	.blog-category {
		margin-top: 50px !important;
	}
}
.blog-carousel-left {
	height: 10% !important;
	left: 9% !important;
}
#myCarousel {
	margin-bottom: 0 !important;
}
.blog-carousel-right {
	height: 10% !important;
	right: 9% !important;
}
.blog-content-col {
	width: 100%;
	float: left;
	margin-top: 105px;
	margin-bottom: 40px;
}
.blog-content-col ul {
	padding-left: 0; 
	margin-bottom: 0;
}
.blog-left {
	width: 100%;
	float: left;
	padding-left: 110px;
	padding-bottom: 45px;
	border-bottom: 3px solid #e5e6e6;
}
.blog-left img {
	width: 100%;
	border-bottom: 3px solid #e5e6e6;
	border-radius: 5px;

}
.blog-duis {
	width: 100%;
	float: left;
}
.blog-duis h5 a {
	font-size: 24px;
	color: #76c7c0;
	margin-top: 35px;
	margin-bottom: 15px;
}
.blog-posted {
	margin-bottom: 35px !important;
}
.blog-content-col p {
	font-size: 14px;
	color: #7f8c8c;
}
.blog-duis span {
	color: #e2534b;
}
.blog-posted i {
	margin-left: 15px;
	margin-right: 5px;
}
.blog-calendar {
	width: 100%;
	float: left;
	position: absolute;
}
.blog-calendar p {
	font-size: 20px;
	color: #7f8c8c;
	background: #fff;
	display: inline-block;
	padding: 15px 20px;
	border-radius: 5px;
	border-bottom: 3px solid #e5e6e6;
	margin-bottom: 20px;
}
.blog-calendar i {
	color: #fff;
	background: #7f8c8c;
	padding: 15px 20px;
	border-radius: 5px;
	border-bottom: 3px solid #e5e6e6;
}
.blog-calendar span {
	font-size: 30px;
	color: #7f8c8c;
	font-weight: 800;
}
.content-left {
	margin-top: 0;
}
.aliquam {
	margin-top: 0 !important;
}
.blog-posted-last {
	margin-bottom: 0 !important;
}
.blog-category {
	width: 100%;
	float: left;
	margin-top: 105px;
}
.blog-category h5 {
	font-size: 16px;
	color: #7f8c8c;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 35px;
	font-weight: 800;
}
.blog-category ul {
	padding-left: 10px;
}
.blog-category ul li {
	margin-bottom: 20px;
}
.blog-category ul li:last-child {
	margin-bottom: 0;
}
.blog-category i {
	color: #62b9b0;
	margin-right: 15px;
}

.blog-category a {
	font-size: 14px;
	color: #e2534b;
	text-transform: uppercase;
	margin: 0;
	font-weight: 600;
}
.recent-posts {
	margin-top: 50px;
}

.recent-posts li {
	border-bottom: 1px solid #e5e6e6;
	padding-bottom: 15px;
}
.recent-posts a {
	text-transform: none;
}
.recent-posts span {
	font-size: 12px;
	color: #7f8c8c;
	margin-left: 20px;
}
.tags ul li {
	margin-bottom: 0;
	padding: 0;
	margin-right: 0;
	border-bottom: none;
}
.tags ul li:last-child {
	margin-right: 0;
}
.tags .list-inline {
	padding: 0;
	margin-bottom: 35px;
}
.tags a {
	color: #fff;
	font-weight: normal;
	letter-spacing: 2px;
	background: #7f8c8c;
	text-transform: none;
	padding: 10px;
	border-radius: 5px;
}
.archive i {
	color: #7f8c8c;
}
.archive a {
	font-weight: normal;
}
.archive li {
	border-bottom: none;
	padding-bottom: 0;
}
.blog-active {
	background: #e2544d !important;
}
.pagination i {
	color: #fff;
	font-weight: 800;
}
.pagination > li > a, .pagination > li > span {
	padding: 6px 20px;
	border-radius: 5px;
	margin-right: 30px;
	background: #8c9898;
	border-bottom: 3px solid #7f8c8c;
	color: #fff;
	font-size: 16px;
	font-weight: 800;
}
.pagination > li:first-child > a {
	border-radius: 5px;
	margin-right: 30px;
	background: #8c9898;
	border-bottom: 3px solid #7f8c8c;
}
.pagination > li:last-child > a {
	margin-left: 30px;
	margin-right: 0;
}
.pagination > li > a {
	margin-right: 10px;
}
.pagination > li .active {
	background: #e5655d;
	border-bottom: 3px solid #e2544d;
}
.pagination > li .now {
	background: #649792;
	border-bottom: 3px solid #538b86;
}
