@media only screen and (max-width: 768px) {
	.first-suspendisse {
		margin-top: 50px !important;
	}
}
.start {
	position: absolute;
	top: -30px;
	left: 0;
	width: 100%;
	float: left;
}
.services {
	font-size: 14px;
	color: #777777;

}
.buy-now {
	width: 100%;
	float: left;
	padding: 0 35px;
	margin: 75px 0;
}
.buy-now ul {
	padding-left: 0;
	margin-bottom: 0;
}
.services-btn {
	font-weight: bold;
	font-size: 16px !important;
	background: #7f8c8c !important;
	border-color: #7f8c8c !important;
}
.buy-now ul li a {
	margin-left: 0;
	border-bottom: 1px solid #ececec;
	padding: 20px 0;
}
.services-color {
	border-color: #6ab3ac;
}
.buy-now ul li:last-child {
	margin-bottom: 0;
}
.services-red {
	background: #e2544d;
}
.about-btn-red {
	background: #e2544d !important;
	border: none;
}
.services-bottom {
	border-bottom: none !important;
}